doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Marionette Wires
  meta(name='description', content='An opinionated starter application built with Marionette.js.')
  meta(name='author', content='James Kyle')
  link(rel='stylesheet', href='/bundle.css')
body
  .application
  script(src='/bundle.js')
